<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MNIST Digit Classifier</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="main">
            <div class="left-col">
                <div class="canvas-wrapper">
                    <canvas id="canvas" width="500" height="500"></canvas>
                </div>
                
                <div class="controls">
                    <button class="clear-btn">Clear</button>
                    <button class="predict-btn">Predict</button>
                </div>

                <span class="footer">numpy neural network &mdash; 97.86% test accuracy</span>
            </div>
            <div id="p-table"></div>
        </div>
        <script src="../static/script.js"></script>
    </body>
</html>